* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Consolas', 'Courier New', monospace;
  overflow: hidden; 
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  padding: 3px 15px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 22px;
  margin-right: 20px;
  vertical-align: middle;
}

.header nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  flex-wrap: wrap;
  min-width: 0;
}

.header li {
  color: #c5c5c5;
  white-space: nowrap;
}

.user-info {
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  white-space: nowrap;
  min-width: 0;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.icon-sidebar {
  width: 3.5rem;
  background-color: #1a1919;
  border-right: 1px solid #2e2d2d;
  display: flex;
  justify-content: center;
}

.icon-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.icon-sidebar ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  width: 32px;
  height: 35px;
  transition: fill 0.3s ease;
}

.icon:hover path {
  fill: #D3D3D3;
}

.page-sidebar {
  width: 15rem;
  background-color: #181818;
  border-right: 1px solid #2e2d2d;
}

.page-sidebar h2 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #c5c5c5;
  display: flex;
  padding: 25px 5px 25px 5px;
}

.page-sidebar h2 .icon-left {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.page-sidebar ul {
  list-style: none;
}

.page-sidebar ul li {
  margin-bottom: 3px;
  padding-left: 7px;
  font-weight: 300;
}

.page-sidebar ul li a {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 12px;
  text-decoration: none;
  color: #D4D4D4;
  font-weight: 300;
  font-size: 14px;
}

.page-sidebar ul li a img.icon-left {
  margin-right: 2px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

.page-sidebar ul li a:hover {
  color: #9CDCFE;
}

.main-content {
  flex-grow: 1;
  background-color: #1e1e1e;
  color: #c5c5c5;
}

.icon-left {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.tab-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
}

.tablink {
  background-color: #181818;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  padding: 8px 12px;  /* Adjust padding for better content fit */
  border: 1px solid #2e2d2d;
  width: auto;  /* Allow the width to adjust based on content */
  display: inline-flex;
  align-items: center;
}

.tablink img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 8px;  /* Space between icon and text */
}

.tablink.active {
  border-top: 1px solid #007acc;
  background-color: #333333;
}

.tablink:hover {
  background-color: #333333;
}


.tabcontent {
  display: none;
  padding: 20px;
  background-color: #1e1e1e;
  color: white;
  border-top: 1px solid #333;
}

.tabcontent.active {
  display: block;
}

.filler-box {
  background-color: #181818;
  flex-grow: 1;
}

.page-sidebar ul li a.active {
  color: white;
  background-color: #007acc;
  padding: 10px 0 10px 12px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  transition: background-color 0.5s;
}

.page-sidebar ul li a {
  background-color: #181818;
  color: #cccccc;
  transition: background-color 0.5s;
}

.page-sidebar ul li a:hover {
  background-color: #333333;
  color: white;
}
